<div>
    <div class = "contain">
    <h2>Login Page</h2>
    <form [formGroup]="loginRef" (ngSubmit)="checkUser()">
        <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control"  formControlName="userF"> <br>
        <label>Password:</label>
        <input type="password" class="form-control"  formControlName="passF"><br>
        <input type="submit"  value="Login"/> <br>
        <input type="reset"  value="reset"/>
        </div>
        <div class="right">
        <a class="nav-item nav-link" routerLink="/signup">Signup</a>
        </div>
    </form>
    {{message}}
 </div>
</div>
    